
JZTTestSwift.xcodeproj/project.xcworkspace/xcuserdata/liangze.xcuserdatad/UserInterfaceState.xcuserstate
JZTTestSwift.xcodeproj/xcuserdata/liangze.xcuserdatad/xcschemes/xcschememanagement.plist
JZTTestSwift.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.DS_Store
